<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'application.scss.css' | asset_url }}">

  <link rel="stylesheet" href="{{ 'vendor.min.css' | asset_url }}">
  <script src="{{ 'vendor.min.js' | asset_url }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <script type="application/json" data-ajax-cart-initial-state >
  {{ cart | json }}
</script>

  {% section 'theme-settings' %}
</head>
<body>

  {% section 'header' %}

  <div class="my-floating-cart"> {% section 'floating-cart' %} </div>

  <main role="main" id="main">
    {{ content_for_layout }}
  </main>

  <script src="{{ 'cart.js' | asset_url }}"></script>
  <script src="{{ 'application.js' | asset_url }}"></script>

  <script type="application/json" data-ajax-cart-initial-state >
  {{ cart | json }}
  </script>

  <script type="module">
    import '{{ "liquid-ajax-cart-v1.10.2.js" | asset_url }}';
  </script>

</body>
</html>
