<div class="product-slider-wrapper">
  <h2 class="home-section--title">{{ section.settings.slider-title }}</h2>
  <div class="product-slider--container">
    <div class="collection-products-slider swiper-container">
      <div class="swiper-wrapper">
        {% for product in collections[section.settings.product-collection].products limit: 10 %}
          <div class="swiper-slide">
            <div class="product-item-wrapper">
              <div class="product-item" data-product-id="{{ product.id }}">
                <div class="product-item-image">
                  {% assign product_img_src = product.featured_image.src | img_url: '150x' %}
                  <a href="{{ product.url }}">
                    <img src="{{ product_img_src }}" alt="">
                  </a>
                </div>
                <div class="product-item-title">
                  <a href="{{ product.url }}">
                    {{ product.title }}
                  </a>
                </div>
                <p class="product-price">{{ product.price | money }}</p>
                <div class="product-buttons">
                  <a href="{{ product.url }}" class="btn btn-view-product btn-default">View product</a>
                  {% if section.settings.buy-now != blank %}
                    <p data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                       class="btn btn-view-product buy-product btn-green"
                    >
                      Buy now - {{ product.price | money }}
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="navigation-buttons">
            <span class="btn-slider-nav btn-pp-prev">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span class="btn-slider-nav btn-pp-next">
              <i class="fas fa-chevron-right"></i>
            </span>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection product slider",
    "settings": [
      {
        "type": "checkbox",
        "id": "buy-now",
        "label": "Buy now button",
        "default": false
      },
      {
        "type": "text",
        "id": "slider-title",
        "label": "Slider title",
        "default": "Collection Product"
      },
      {
        "type": "collection",
        "id": "product-collection",
        "label": "Collection"
      }
    ],
    "blocks": [],
  "presets": [
      {
        "name": "Collection product slider"
      }
    ]
  }
{% endschema %}
