
<form action="{{ routes.checkout_url }}" method="post" class="my-cart">
    <!-- data-ajax-cart-section makes the element's HTML update
    when the cart gets changed -->
    <div class="container">
        <div data-ajax-cart-section>
        <h2>Cart</h2>

        <!-- data-ajax-cart-section-scroll keeps the scroll position unchanged
        when the element's HTML is changed -->
        <div class="my-cart__items" data-ajax-cart-section-scroll>
            {% for item in cart.items %}
                {% assign item_index = forloop.index %}
                <hr />
                <div class="cart-tem">
                    <div class="cart-img-title">
                        <a href="{{ item.url }}">
                            <img src="{{ item | img_url: "100x" }}" alt="">
                        </a>
                        <a class="cart-item-title" href="{{ item.url }}">{{ item.title }}</a>
                    </div>

                    {% for property in item.properties %}
                        <div>
                            {{ property.first }}:
                            {% if property.first == 'Engraving' %}
                                <!-- data-ajax-cart-property-input ajaxifies the line item property input -->
                                <input type="text"
                                       value="{{ property.last }}"
                                       data-ajax-cart-property-input="{{ item_index }}[{{ property.first }}]"/>
                            {% else %}
                                {{ property.last }}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div>Price: {{ item.final_price | money }}</div>

                    <div class="cart-item-quantity">

                        <!-- data-ajax-cart-request-button ajaxifies the "Minus one" button -->
                        <a data-ajax-cart-request-button
                           href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" >
                            -
                        </a>

                        <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
                        <input data-ajax-cart-quantity-input="{{ item_index }}"
                               name="updates[]"
                               value="{{ item.quantity }}"
                               type="text" />

                        <!-- data-ajax-cart-request-button ajaxifies the "Plus one" button -->
                        <a data-ajax-cart-request-button
                           href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}">
                            +
                        </a>
                    </div>
                    <!-- Container for errors -->
                    <div data-ajax-cart-messages="{{ item.key }}"></div>

                    <div>Total: <strong>{{ item.final_line_price | money }}</strong></div>

                </div>


                {% endfor %}
        </div>



        </div>
    </div>
<div class="container">
    <div class="checkout-section">
        <h3 class="cart-total">Cart totale: {{ cart.total_price | money_with_currency }}</h3>
        <a href="/checkout" class="cart-button-checkout checkout" name="checkout">
            Checkout
        </a>
    </div>
    <br>
    <br>
    <br>
</div>
</form>

{% schema %}

{
    "name": "My Cart"
}

{% endschema %}









